<!DOCTYPE html>
<html>
<head>
  <title>Loja de Informática</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= render "layouts/navbar" %>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<%= render "layouts/latbar" %>
			</div>
			<div class="col-md-9">
				<div class="panel-body">
					<%= yield %>
					<p class="notice"><%= notice %></p>
					<p class="alert"><%= alert %></p>
				</div>
			</div>
		</div> <!-- row -->
	</div> <!-- container -->
	
	<%= yield %>

</body>
</html>